/*
 * CSS for org-mode generated HTML
 */


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@import "nord.css";

:root {

    --nord35: #6b7994;

    --page-width: 1200px;

    --title-color: var(--nord10);
    --headings-color: var(--nord10);
    --text-color: var(--nord3);
    --accent-color: var(--nord0);
    --useless-color: #4C566A;

    --lesser-contrast: #4C566A;
    --black-box: var(--nord0);
    --dark-box:  #E5E9F0;
    --darker-box: #D8DEE9;

    --headings-font: Share Tech Mono;
    --text-font: Source Sans Pro, Arial, Helvetica;

    --title-size: 32pt;
    --subtitle-size: 20pt;
    --big-text: 24pt;
    --normal-text: 13pt;
    --small-text: 11pt;
    --tiny-text: 9pt;

}

a {
    color: var(--nord9);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    background-color: var(--nord3);
}

body {
    position: relative;

    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

    padding: 1px; /* Collapsing margins */

    background-color: var(--nord6);
    font-family: var(--text-font);
    font-size: var(--normal-text);
    font-weight: lighter;
    color: var(--text-color);
    max-width: var(--page-width);

    counter-reset: question_count 0;

}


#org-div-home-and-up {
    position: absolute;
    top: 10px;
    left: 75%;
    font-size: var(--small-text);
}

.title {
    margin-bottom: 50px;
    padding-top: 25px;

    color: var(--title-color);
    font-family: var(--headings-font);
    font-size: var(--title-size);
    text-align: left;
    font-weight: bolder;
}

.subtitle {
    font-family: Lato, Arial, Helvetica;
    font-size: var(--subtitle-size);
    font-weight: lighter;
    letter-spacing: 1px;
}

#content {
    position: relative;
    margin: 10px;
    padding-left: 5px;
}

#table-of-contents {
    position: fixed;

    margin-top: 0;
    margin-left: 0;
    padding-top: 10px;

    max-height: 100%;

    width: calc(0.25 * var(--page-width));
    overflow-wrap: break-word;
    overflow-y: scroll;
}

#table-of-contents ul {
    list-style-type: none;
    padding-inline-start: 0px;
    color: var(--text-color);
}

#table-of-contents ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

div.outline-2 {
    position: relative;
    left: 25%;
    width: 50%;

    margin-left: 15px;
    padding-top: 10px;
}


#footnotes {
    position: relative;
    left: 25%;
    width: 50%;
    margin-left: 15px;
}

.org-ref-bib-h1,
h2, h3, h4, h5, h6 {
    color: var(--headings-color);
    font-family: var(--headings-font);
}


.note {
    padding: 10px;
    border-left: 3px solid #5E81AC;
    color: #5E81AC;
    background-color: var(--dark-box);
}

.note::before {
    position:relative;
    left: -10px;
    padding: 0 5px 0 5px;
    content: "Note";
    text-weight: bold;
    background-color:  var(--nord10);
    color: var(--nord6);
}


.warning {
    padding: 10px;
    border-left: 3px solid var(--nord12);
    color: var(--nord12);
    background-color: var(--dark-box);
}

.warning::before {
    position:relative;
    left: -10px;
    padding: 0 5px 0 5px;
    content: "Warning";
    text-weight: bold;
    background-color:  var(--nord12);
    color: var(--nord6);
}


.question {
    padding: 10px;
    border-left: 3px solid var(--nord15);
    color: var(--nord15);
    background-color: var(--dark-box);

    counter-increment: question_count 1;
}

.question::before {
    position:relative;
    left: -10px;
    padding: 0 5px 0 5px;
    content: "Question " counter(question_count);
    text-weight: bold;
    background-color:  var(--nord15);
    color: var(--nord6);
}

.figure p {
    text-align: left;
}

.figure p  {
    font-size: var(--small-text);
    color: var(--headings-color);
}

.figure-number {
    font-weight: bold;
}

caption {
    text-align: left;
    font-size: var(--small-text);
    color: var(--headings-color);
}

.table-number {
    font-weight: bold;
}

.org-src-name {
    font-size: var(--small-text);
    color: var(--headings-color);
}

.listing-number {
    font-weight: bold;
}

code {
    font-family: var(--headings-font);
}

.linenr {
    font-size: var(--small-text);
    color: var(--nord3);
}

div pre.src {
    border: none;
    background-color: var(--black-box);
    font-family: var(--headings-font);
    font-size: var(--small-text);
    color: var(--nord4);
    filter: drop-shadow(5px 5px 5px var(--nord4));
}

div pre.src:before {
    background-color: var(--nord10);
    font-family: var(--headings-font);
    color: var(nord6);
}

div pre.example {
    border: none;
    margin-left: 25px;
    font-family: var(--headings-font);
    font-size: var(--small-text);
    color: var(--nord35);
    background-color: var(--black-box);
}

div pre.example::before {
    position:relative;
    display: block;
    left: -5px;
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
    width: min-content;
    content: "Output\a";
    text-weight: bold;
    background-color:  var(--nord35);
    color: var(--nord4);
}


.org-keyword {
    font-weight: bold;
    color: var(--nord10);
}

.org-type {
    color: var(--nord8)
}

.org-preprocessor {
    /* font-lock-preprocessor-face */
    color: var(--nord9);
    font-weight: bold;
}

.org-function-name {
    /* web-mode-function-name-face */
    color: var(--nord8);
}

.org-variable-name {
    /* font-lock-variable-name-face */
    color: var(--nord5);
}

.org-string {
    /* font-lock-string-face */
    color: var(--nord7);
}

.org-comment,
.org-comment-delimiter {
    /* font-lock-comment-face */
    color: var(--nord35);
}


.code-highlighted {
    background-color: var(--nord2);
}


.org-ref-bib-h1 {
    visibility: hidden;
}

.org-ref-bib-h1::after {
    visibility: visible;
    display: block;
    content: "References";
    color: var(--headings-color);
    font-size: var(--big-text);
}


table, th, td {
    border-color: var(--nord10);
    font-size: var(--small-text);
}

th {
    color: var(--nord10);
}


.footdef {
    font-size: var(--small-text);
}

footer {
    position: absolute;
    top: 50px;
    left: 75%;

    margin: 0 !important;

    font-size: var(--small-text);
    color: var(--nord3);
}

footer > p:nth-child(2) {
    font-weight: bolder;
}
